* {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  color: #434455;
  line-height: 24px;
  background-color: #fafafa;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  white-space: nowrap;
  overflow: hidden;
  border: 0;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  font-size: inherit;
  font-weight: normal;
}

ul,
li {
  padding-left: 0;
  margin: 0;
}

p {
  padding-left: 0;
}

h3 {
  padding-left: 0;
}

main {
  flex-grow: 1;
}

a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

button {
  padding: 0;
  cursor: pointer;
}

li {
  list-style-type: none;
}

.container {
  max-width: 1200px;
  padding: 0 20px;
  margin-left: auto;
  margin-right: auto;
}

h2 {
  font-weight: 600;
  font-size: 24px;
  line-height: 120%;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
  color: #111;
}

span {
  color: #fd9222;
}

.logo-span {
  color: #111;
}

/* -----------------------------END MAIN------------------------------ */

/* -------------------------HEADER----------------------------- */

.page-header {
  display: flex;
  padding-top: 24px;
  padding-bottom: 32px;
  align-items: center;
  justify-content: space-between;
}

nav {
  display: flex;
  gap: 48px;
}

.burger_btn {
  background-color: transparent;
  border: none;
}

.nav-ul {
  display: none;
  gap: 24px;
  align-items: center;
}

.nav-li {
  font-weight: 500;
  font-size: 14px;
  line-height: 114%;
  letter-spacing: -0.02em;
  color: #111;
}

.nav-li a {
  padding: 32px 0;
}

.soc-icons {
  display: none;
  gap: 12px;
  align-items: center;
}

.soc-icons svg {
  fill: transparent;
  stroke: #111;
}

.logotype-p {
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  line-height: 129%;
  letter-spacing: -0.03em;
  color: #111;
}

.logotype a {
  display: flex;
  gap: 4px;

  align-items: center;
}

.logotype span {
  font-style: italic;
}

.burger {
  display: flex;
}

@media (min-width: 768px) {
  .nav-ul {
    display: flex;
  }

  .burger {
    display: none;
  }

  .soc-icons {
    display: flex;
  }

  .logotype a {
    font-size: 16px;
  }

  .container {
    padding-left: 32px;
    padding-right: 32px;
  }
}

@media (min-width: 991px) {
  .logotype a {
    font-size: 18px;
  }

  nav {
    gap: 90px;
  }
}

/* -------------------------------HERO SECTION------------------------------------------- */

.hero__container {
  padding-bottom: 80px;
}

.hero__img {
  display: flex;
  border-radius: 30px;
  padding: 380px 20px 20px 20px;
  flex-direction: column;
  justify-content: flex-end;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: linear-gradient(
      180deg,
      rgba(17, 17, 17, 0.4) 0%,
      rgba(17, 17, 17, 0.4) 100%
    ),
    url(../images/hero-mob.jpg);
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero__img {
    background-image: linear-gradient(
        180deg,
        rgba(17, 17, 17, 0.4) 0%,
        rgba(17, 17, 17, 0.4) 100%
      ),
      url(../images/hero-mob@2x.jpg);
  }
}

.hero-text {
  font-weight: 500;
  font-size: 17px;
  line-height: 120%;
  letter-spacing: -0.03em;
  color: #fff;
  margin-bottom: 32px;
  max-width: 295px;
}

.btns-hero {
  display: flex;
  gap: 14px;
  margin-bottom: 32px;
}

.buy-btn {
  border-radius: 100px;
  padding: 10px 20px;
  background-color: #fd9222;
  font-weight: 600;
  font-size: 10px;
  color: #fff;
  border: none;
}

.about-btn {
  border-radius: 100px;
  padding: 12px 28px;
  background-color: transparent;
  font-weight: 600;
  font-size: 10px;
  color: #fff;
  border: 1px solid #ffffff;
}

.btn-scroll {
  display: flex;
  align-items: center;
  gap: 12px;
  font-weight: 500;
  font-size: 12px;
  line-height: 117%;
  letter-spacing: -0.03em;
  color: #fff;
}

.scroll-down {
  padding: 6px;
  border: none;
  border-radius: 50%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.scroll-down svg {
  fill: #fd9222;
}

.btn-scroll-tab {
  display: none;
  justify-content: flex-end;
  align-items: center;
  gap: 12px;
  font-weight: 500;
  font-size: 12px;
  line-height: 117%;
  letter-spacing: -0.03em;
  color: #fff;
}

.btns_btns {
  display: flex;
  gap: 14px;
}

@media (min-width: 768px) {
  .hero__img {
    padding: 380px 40px 40px 40px;
    background-image: linear-gradient(
        180deg,
        rgba(17, 17, 17, 0.4) 0%,
        rgba(17, 17, 17, 0.4) 100%
      ),
      url(../images/hero-tab.jpg);
  }
  .btn-scroll {
    display: none;
  }

  .btn-scroll-tab {
    display: flex;
  }
  .btns-hero {
    margin-bottom: 0;
    justify-content: space-between;
  }
  .hero-text {
    font-size: 28px;
    width: 484px;
  }
  .buy-btn {
    padding: 14px 40px;
    font-size: 14px;
  }
  .about-btn {
    padding: 14px 40px;
    font-size: 14px;
  }

  .scroll-down {
    padding: 8px;
  }

  .scroll-down svg {
    width: 22px;
    height: 22px;
  }

  .btn-scroll-tab {
    font-size: 14px;
  }

  .hero-text {
    max-width: 484px;
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero__img {
      background-image: linear-gradient(
          180deg,
          rgba(17, 17, 17, 0.4) 0%,
          rgba(17, 17, 17, 0.4) 100%
        ),
        url(../images/hero-tab@2x.jpg);
    }
  }
}

@media (min-width: 991px) {
  .hero__img {
    padding: 380px 40px 40px 40px;
    background-image: linear-gradient(
        180deg,
        rgba(17, 17, 17, 0.4) 0%,
        rgba(17, 17, 17, 0.4) 100%
      ),
      url(../images/hero.jpg);
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero__img {
      background-image: linear-gradient(
          180deg,
          rgba(17, 17, 17, 0.4) 0%,
          rgba(17, 17, 17, 0.4) 100%
        ),
        url(../images/hero@2x.jpg);
    }
  }
}
/* -------------------------------END HERO SECTION------------------------------------------- */
/* 
------------------------------------SECOND SECTION------------------------------- */

.icon-li svg {
  fill: #fd9222;
}

.features {
  background-color: #1e1823;
}

.features_container {
  padding: 20px;
}

.features-ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.features-li h3 {
  font-weight: 600;
  font-size: 18px;
  color: #fff;
  margin-bottom: 18px;
}

.features-li p {
  font-weight: 400;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: rgba(255, 255, 255, 0.7);
}

.icon-li {
  border: 1px solid #fff;
  display: inline-flex;
  border-radius: 50%;
  padding: 15px;
  margin-bottom: 22px;
}

@media (min-width: 480px) {
  .features-li {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .features-ul {
    gap: 62px;
  }
}

@media (min-width: 768px) {
  .features_container {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .features-ul {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 62px 88px;
  }

  .features-li {
    flex-basis: calc((100% - 88px) / 2);
    align-items: flex-start;
    text-align: start;
  }
}

@media (min-width: 991px) {
  .features_container {
    padding-left: 35px;
    padding-right: 35px;
  }

  .features-ul {
    flex-wrap: nowrap;
    gap: 88px;
  }

  .features-li {
    flex-basis: calc((100% - 88px) / 3);
    position: relative;
  }

  .features-li:first-child::after {
    content: "";
    border: 1px solid rgba(255, 255, 255, 0.5);
    height: 124px;
    position: absolute;
    right: -45px;
    top: 90px;
  }

  .features-li:last-child::before {
    content: "";
    border: 1px solid rgba(255, 255, 255, 0.5);
    height: 124px;
    position: absolute;
    left: -45px;
    top: 90px;
  }
}

/* 
------------------------------------END SECOND SECTION------------------------------- */

/* 
----------------------------THIRD SECTION------------------------------- */

.taste_container {
  padding-top: 80px;
  padding-bottom: 80px;
}

.taste_container h2 {
  margin-bottom: 27px;
}

.taste-ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.taste-li {
  position: relative;
  display: flex;
  padding-bottom: 28px;
  padding-left: 28px;
  padding-top: 32px;
  padding-right: 49px;
  border-radius: 15px;
  justify-content: center;
  flex-direction: column;
}

.taste-img {
  margin: auto;
  padding-left: 22px;
}

.taste-li-h3 {
  font-weight: 600;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #fff;
  margin-top: 16px;
}

.taste-li:nth-child(1) {
  background-color: #fd9222;
}

.description {
  position: absolute;
  top: 14px;
  right: 14px;
}

.description button {
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 50%;
  padding: 10px 9px;
}

.arrow-svg {
  stroke: #fff;
}

.taste-li:nth-child(even) .description button {
  border-color: #fd9222;
}
.orange-svg {
  fill: transparent;
  stroke: #fd9222;
}

.taste-li:nth-child(3) {
  background-color: #1e1823;
}

.taste-li:nth-child(5) {
  background-color: #fd9222;
}

.taste-li:nth-child(even) {
  background-color: transparent;
  border: 1px solid #fd9222;
}

.taste-li:nth-child(even) .taste-li-h3 {
  color: #111;
}

.taste-li:nth-child(7) {
  background-color: #1e1823;
}

@media (min-width: 600px) {
  .taste_container {
    padding: 100px 32px;
  }
  .taste-ul {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .taste-li {
    flex-basis: calc((100% - 20px) / 2);
    max-width: 335px;
  }

  .taste-li:nth-child(7) {
    order: 8;
  }

  .taste-li:nth-child(8) {
    order: 7;
  }

  .taste-li:nth-child(6) {
    order: 6;
  }

  .taste-li:nth-child(5) {
    order: 5;
  }

  .taste-li:nth-child(3) {
    order: 4;
  }

  .taste_container h2 {
    margin-bottom: 50px;
  }
}

@media (min-width: 991px) {
  .taste_container {
    padding: 120px 32px;
  }

  .taste-li {
    flex-basis: calc((100% - 60px) / 4);
  }

  .taste-li:nth-child(7),
  .taste-li:nth-child(8),
  .taste-li:nth-child(6),
  .taste-li:nth-child(5),
  .taste-li:nth-child(3) {
    order: 0;
  }
}

/* ------------------------------------------END THIRD SECTION--------------------------------- */

/* ------------------------------------------FOURTH SECTION-------------------------------- */

.about-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.about_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about_container h2 {
  margin-bottom: 32px;
}

.about_back {
  border-radius: 15px;
  display: flex;
  width: 100%;
  max-width: 380px;
  height: 500px;
  background-image: linear-gradient(
      rgba(17, 17, 17, 0.2),
      rgba(17, 17, 17, 0.2)
    ),
    url(../images/about-mob.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.about_desc {
  max-width: 380px;
  border-radius: 15px;
  background-color: #fff;
  padding: 20px 14px;
}

.about_desc h3 {
  font-weight: 600;
  font-size: 18px;
  line-height: 133%;
  color: #111;
  margin-bottom: 20px;
}

.about_ul {
  display: flex;
  flex-direction: column;
  gap: 18px;

  font-weight: 400;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.02em;
  color: #111;
}

.about_ul li {
  position: relative;
  padding-left: 16px;
}

.about_ul li::before {
  content: "";
  position: absolute;
  left: 0;
  transform: translateY(30%);
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #4c4c4c;
  border: 1px solid #eceded;
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .about_back {
    background-image: linear-gradient(
        180deg,
        rgba(17, 17, 17, 0.2) 0%,
        rgba(17, 17, 17, 0.2) 100%
      ),
      url(../images/about-mob@2x.jpg);
  }
}

@media (min-width: 600px) {
  .about_back {
    max-width: 690px;
    height: 400px;
    background-image: linear-gradient(
        rgba(17, 17, 17, 0.2),
        rgba(17, 17, 17, 0.2)
      ),
      url(../images/about.jpg);
  }
  .about_desc {
    padding: 32px;
    max-width: 690px;
  }
  .about_desc h3 {
    width: 70%;

    margin-bottom: 28px;
  }

  .about_container h2 {
    margin-bottom: 50px;
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .about_back {
      background-image: linear-gradient(
          180deg,
          rgba(17, 17, 17, 0.2) 0%,
          rgba(17, 17, 17, 0.2) 100%
        ),
        url(../images/about@2x.jpg);
    }
  }
}

@media (min-width: 991px) {
  .about-content {
    flex-direction: row;
  }
  .about_container {
    display: block;
  }
}
/* ------------------------------------------End FOURTH SECTION-------------------------------- */
/* 
---------------------------FIFTH SECTION------------------ */
.products_container h2 {
  margin-bottom: 32px;
}

.products_container {
  padding-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.products-ul {
  display: flex;
  flex-direction: column;
  gap: 22px;
  align-items: center;
  justify-content: center;
}

.products-ul li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 15px;
  padding: 32px 53px;
  background: #fff;
  max-width: 335px;
}

.products-img {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.products-h {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 133%;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #111;
  margin-top: 8px;
  margin-bottom: 2px;
}

.products-p {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 117%;
  letter-spacing: -0.02em;
  color: rgba(17, 17, 17, 0.7);
  margin-bottom: 18px;
}

.products-ul li button {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 14px;
  color: #111;
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 100px;
  padding: 8px 20px;
  background: #fafafa;
}

@media (min-width: 600px) {
  .products_container {
    padding-top: 100px;
  }

  .products-ul {
    gap: 20px;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .products-ul li {
    flex-basis: calc((100% - 20px) / 2);
    max-width: 335px;
  }
  .products-h {
    font-size: 16px;
  }
}

@media (min-width: 991px) {
  .products_container {
    padding-top: 120px;
  }
  .products-ul {
    gap: 18px;
    row-gap: 24px;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .products-ul li {
    flex-basis: calc((100% - 54px) / 4);
    padding: 32px 0px;
  }
}

/* 
---------------------END FIFTH SECTION-------------------------------- */

/* --------------------------SIXTH SECTION------------------------- */

.sellers_container {
  padding-top: 80px;
  padding-bottom: 80px;
}

.sellers_container h2 {
  margin-bottom: 32px;
}

.sellers-ul {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.sellers-ul li {
  background-color: #fff;
  text-align: center;
  border-radius: 15px;
}

.sellers-ul li h3 {
  padding: 24px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 133%;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #111;
}

.sellers-ul li:nth-child(2),
.sellers-ul li:nth-child(3) {
  display: none;
}

@media (min-width: 600px) {
  .sellers-ul {
    flex-direction: row;
  }
  .sellers-ul li:nth-child(2) {
    display: flex;
    flex-direction: column;
  }

  .sellers_container h2 {
    margin-bottom: 50px;
  }
}

@media (min-width: 991px) {
  .sellers-ul li:nth-child(3) {
    display: flex;
    flex-direction: column;
  }
}

/* -------------------------- END SIXTH SECTION------------------------- */

/* -------------------------------SEVENTH SECTION------------------------- */

.review_container {
  padding-bottom: 80px;
}

.review_container h2 {
  margin-bottom: 74px;
}

.review-ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.review-ul li {
  position: relative;
  text-align: center;
  background-color: #fff;
  border: 1px solid rgba(17, 17, 17, 0.1);
  padding: 42px 18px;
  margin-bottom: 32px;
  border-radius: 15px;
}

.review-ul li h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 133%;
  text-align: center;
  color: #111;
  margin-bottom: 24px;
  margin-top: 18px;
}

.review-ul li p {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.02em;
  text-align: center;
  color: rgba(17, 17, 17, 0.7);
}

.review-ul li img {
  position: absolute;
  top: -40px;
  left: 50%;
  transform: translate(-50%);
}

.review-ul li:nth-child(2),
.review-ul li:nth-child(3) {
  display: none;
}

.review-btn {
  display: block;
  margin: auto;
  border: 1px solid #fd9222;
  border-radius: 100px;
  padding: 14px 40px;
  background-color: transparent;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 18px;
  color: #111;
}

@media (min-width: 600px) {
  .review-ul {
    flex-direction: row;
  }

  .review-ul li {
    margin-bottom: 50px;
  }

  .review_container h2 {
    margin-bottom: 91px;
  }
  .review-ul li:nth-child(2) {
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: 991px) {
  .review-ul li:nth-child(3) {
    display: flex;
    flex-direction: column;
  }
  .review-ul {
    gap: 28px;
  }
}

/* -------------------------------END SEVENTH SECTION------------------------- */
